#blog-list {
  md-list-item {
    padding-left: 0;
    min-height: 0;
  }
}

#title {
  position: relative;

  #title {
    font-size: 1.5em;
    font-weight: bold;
  }
  #tagline {
    position: absolute;
    bottom: 0;
    margin-left: 5px;
  }
}
